@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand:wght@500&display=swap');

h1 { font-family: 'Poppins', sans-serif; }
p { font-family: 'Quicksand', sans-serif; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}